<div>
    <mu-data-table :columns="column" :data="flitersong" :sort.sync="sort" @sort-change="handleSortChange">
        <template slot-scope="scope">
            <td>{{scope.row.id}}</td>
            <td>
                <mu-badge v-if="scope.row.time>=160" content="FULL" color="secondary"></mu-badge>
                <span>{{scope.row.songname}}</span>
            </td>
            <td>{{scope.row.maxdiff}}</td>
        </template>
        <template slot="expand" slot-scope="scope">
            <div style="padding-left:5%;padding-right:5%;padding-top:5px;">
                <img :src='imgsrc(scope["row"]["id"])' style="width: 100%;">
                <p>
                    <mu-badge v-if="scope.row.diff[0]!=-1" color="#409EFF" :content="scope.row.diff[0]"></mu-badge>
                    <mu-badge v-if="scope.row.diff[1]!=-1" color="#67C23A" :content="scope.row.diff[1]"></mu-badge>
                    <mu-badge v-if="scope.row.diff[2]!=-1" color="#E6A23C" :content="scope.row.diff[2]"></mu-badge>
                    <mu-badge v-if="scope.row.diff[3]!=-1" color="#F56C6C" :content="scope.row.diff[3]"></mu-badge>
                    <mu-badge v-if="scope.row.diff[4]!=-1" color="#EC41D5" :content="scope.row.diff[4]"></mu-badge>
                </p>
                <p>
                    {{scope.row.origin}}
                </p>
                <p> 
                    艺术家：
                    <span>{{scope.row.artist}}</span>
                </p>
                <p>
                    时长：
                    <span v-if="scope.row.time%60>=10">{{Math.floor(scope.row.time/60)}}:{{scope.row.time%60}} </span>
                    <span v-else>{{Math.floor(scope.row.time/60)}}:0{{scope.row.time%60}} </span>
                </p>
                <p>
                    BPM：
                    <span v-if="scope.row.bpm[0]==scope.row.bpm[1]">{{scope.row.bpm[0]}}</span>
                    <span v-else>{{scope.row.bpm[0]}}~{{scope.row.bpm[1]}}</span>
                </p>
                <p>
                    <mu-button small color="#ffa4cf" @click="openpbbblink(scope.row)">BangPlayer</mu-button>
                    <mu-button small color="#3273DC" @click="openbdlink(scope.row)">Bestdori</mu-button>
                    <mu-button small color="info" @click="openkirapack(scope.row)">Kirapack</mu-button>
                </p>
            </div>
        </template>
        <!--el-table-column prop="artist" label="歌手/作者" min-width="180"></el-table-column>
        <el-table-column label="时长" width="70">
            <template slot-scope="scope">
                <span v-if="scope.row.time%60>=10">{{Math.floor(scope.row.time/60)}}:{{scope.row.time%60}} </span>
                <span v-else>{{Math.floor(scope.row.time/60)}}:0{{scope.row.time%60}} </span>
            </template>
        </el-table-column>
        <el-table-column label="BPM" width="80">
            <template slot-scope="scope">
                <span v-if="scope.row.bpm[0]==scope.row.bpm[1]">{{scope.row.bpm[0]}}</span>
                <span v-else>{{scope.row.bpm[0]}}~{{scope.row.bpm[1]}}</span>
            </template>
        </el-table-column>
        <el-table-column label="EZ" width="50">
            <template slot-scope="scope">
                <div v-if="scope.row.diff[0]!=-1" style="color:#409EFF">{{scope.row.diff[0]}}</div>
            </template>
        </el-table-column>
        <el-table-column label="NM" width="50">
            <template slot-scope="scope">
                <div v-if="scope.row.diff[1]!=-1" style="color:#67C23A">{{scope.row.diff[1]}}</div>
            </template>
        </el-table-column>
        <el-table-column label="HD" width="50">
            <template slot-scope="scope">
                <div v-if="scope.row.diff[2]!=-1" style="color:#E6A23C">{{scope.row.diff[2]}}</div>
            </template>
        </el-table-column>
        <el-table-column label="EX" width="50">
            <template slot-scope="scope">
                <div v-if="scope.row.diff[3]!=-1" style="color:#F56C6C">{{scope.row.diff[3]}}</div>
            </template>
        </el-table-column>
        <el-table-column label="SP" width="50">
            <template slot-scope="scope">
                <div v-if="scope.row.diff[4]!=-1" style="color:rgb(236, 65, 213)">{{scope.row.diff[4]}}</div>
            </template>
        </el-table-column>
        <el-table-column label="" width="80">
            <template slot-scope="scope">
                <listitem :item="scope.row"></listitem>
            </template>
        </el-table-column-->
    </mu-data-table>
</div>